<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link href="{% static 'css/ex.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>단어와 글자 수 세기 프로그램</h1>
    <h3><a href="{% url 'wordcnt:about' %}">자세한 도움말은 ABOUT</a></h3>   <!--wordcnt에 있는 about-->
    <form action="{% url 'wordcnt:result' %}" mehod="get">  <!--wordcnt\urls.py에 있는 result , get방식을 써야 url에 뜸-->
        <textarea name="fulltext" cols="30" rows="3"></textarea>  <!--name="fulltext" 와 form action="{% url 'wordcnt:result' %} 꼭 있어야-->
        <input type="submit" value="계산">
    </form>
</body>
</html>